<div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="heading">
            <h3>Danh mục</h3>
        </li>
        <li ng-repeat="(key, value) in app.slidebar" ui-sref-active="open">
            <a href="#/category/{{ value.id }}!{{ value.slug_vi }}">
                <i class=""></i>
                <span class="title">{{ value.name_vi | uppercase}}</span>
                <span class="arrow " ng-if="value.items.length > 0"></span>
            </a>
            <ul ng-if="value.items.length > 0" class="sub-menu" >
                <li ng-repeat="(key1, value1) in value.items">
                    <a href="#/category/{{ value1.id }}!{{ value1.slug_vi }}.html">
                        <i class=""></i>
                        <span class="title">{{ value1.name_vi | uppercase}}</span>
                    </a>
                    <span class="arrow open" ng-if="value1.items.length > 0"></span>
                    <ul ng-if="value1.items.length > 0" class="sub-menu">
                        <li ng-repeat="(key2, value2) in value1.items">
                            <a href="#/category/{{ value2.id }}!{{ value2.slug_vi }}">
                                <i class=""></i>
                                <span class="title">{{ value2.name_vi | uppercase}}</span>
                            </a>
                            <span class="arrow " ng-if="value2.items.length > 0"></span>
                            <ul ng-if="value2.items.length > 0" class="sub-menu">
                                <li ng-repeat="(key3, value3) in value2.items">
                                    <a href="#/category/{{ value3.id }}!{{ value3.slug_vi }}">
                                        <i class=""></i>
                                        <span class="title">{{ value3.name_vi | uppercase}}</span>
                                    </a>
                                    <span class="arrow " ng-if="value3.items.length > 0"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>	